        <div *ngFor="let contact of contacts">
            <div class="row">
                <div class="col-md-4">
                    <div style="padding: 10px;">
                        <h4>{{contact.name}}</h4>
                        <h5>{{contact.company}}</h5>
                        <rl-tag-input
                            [(ngModel)]="tags"
                            placeholder="Add any tag!">
                        </rl-tag-input>                
                        
                    </div>
                </div>
            </div>
        </div>
        